<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Rajdhani|pen+Sans:400,300,300italic,400italic,700,700italic|Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">

<title>CruzInc.</title>
</head>
<body>
<div class="container">
<section  class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>

      <a href="https://www.facebook.com/CruzPaintz?ref=br_rs"><i class="fa fa-facebook-square" style="font-size:20px;color:white;"></i></a>
    <a href="cruzpaintzinc@gmail.com"><i class="fa fa-google" style="font-size:20px;color:white;" id="left"></i></a>
    <div class="number">347 517 9754</div>
</section>

<div class="title">
<br>
  <img src="original.jpg" alt=""  >
</div>

<div class="contact_text">
   <h2>Contact Us</h2>
   <p>We are excited to hear about how we can help. Please give us a call or fill out the contact form to the right.</p>
</div>

<aside class="left">
  <img src="IMG_0002.JPG" alt="" id="city">
</aside>

<aside class="view4">
  <a href="mailto:cruzpaintzinc@gmail.com?Subject=Hello%20again" target="_top">Send Mail</a>
</aside>

<footer>
  <div class="footer_nav">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>

    <a href="https://www.facebook.com/CruzPaintz?ref=br_rs"><i class="fa fa-facebook-square" style="font-size:22px;color:white;" id="left"></i></a>
    <a href="cruzpaintzinc@gmail.com"><i class="fa fa-google" style="font-size:22px;color:white;" id="left"></i></a>

     <h5 id="left">© 2017 Created by Iconic All rights reserved.</h5>
  </div>
</footer>
</div>

</body>
</html>
