<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css?family=Rajdhani|pen+Sans:400,300,300italic,400italic,700,700italic|Great+Vibes" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet"><script src="javascript.js"></script> -->

<link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<head>
  <title>Test</title>
</head>
<body>


<section  class="topnav" id="myTopnav">
     <a href="/">Home</a>
     <a href="/contact">Contact</a>
     <a href="#about">About</a>
</section>
<div class="title">
    <br>
      <h1>CRUZ PAINTZ</h1>
      <h3>Live Vibrantly</h3>
      <img src="IMG_0217.PNG" alt="">
</div>

<section class="view2">
    <aside class="pic1">
       <img src="IMG_0018.JPG" alt="">
    </aside>

      <div class="text_one">
        <p>Who Are We</p>
          <h3>
            We are a partnership business founded by
            two of our most inteligent and confident entrepreneurs. We believe that with great skills and background
             experience of interior designing we will be able to reach out to all loving and respectful people around the world .
          </h3>
       </div>


 <div class="text_two">
      <aside class="pic2">
         <img src="IMG_0028.JPG" alt="" style="">
      </aside>
        <p>services</p>
          <h3> Our creative teams are able to
          complete any clients requests at a variety of locations. Cruz Paintz happily provides services to schools, offices, clinics, nurseries and of course your home. We take pride in helping our customers bring life back into their homes, from simply changing the color of your
          living room, to an intricate mural in your children's bedroom.
      </h3>
  </div>

</section>


<section class="view3">
    <div class="view_left">
    <a href="/contact">Contact</a>
</div>



</section>


<footer>
  <div class="footer_nav">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="#about">About</a>

    <a href="https://www.facebook.com/CruzPaintz?ref=br_rs"><i class="fa fa-facebook-square" style="font-size:22px;color:white;" id="left"></i></a>
    <a href="cruzpaintzinc@gmail.com"><i class="fa fa-google" style="font-size:22px;color:white;" id="left"></i></a>

     <h5 id="left">© 2017 Created by Iconic All rights reserved.</h5>
  </div>
</footer>

</body>
</html>
