<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
  <title >CruzInc</title>
  </head>

<header></header>

  <a href="/">Login</a>
     <hr id="hr1">
  <hr>
  <hr>
  <hr>
   </body>
</html>
