body{
   margin:0;
}
*{
  margin:0;
   border: 0;
  padding: 0;

}

.title img{
    width: 447px;
    height: 317px;
     margin-left: 32vw;
     border-radius: 7.9px;

    box-shadow: -15px -14px 26px lightslategrey;
}



.container{
   width: 30%;
  margin: 1% 1%;
  text-align: center;
  float: left;
  background-color:#EB1D29;
  width:25vw;
  height:60vh;
  border-radius:2px;
  border: 2px solid #a1a1a1;
  opacity: 0.6;

}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.topnav {
    background-color: #ddd;
    overflow: hidden;
    padding-left: 38vw;
   font-family: 'Anton', sans-serif;
   font-weight: 300;

}
.topnav a{
 margin:0px 20px 0px 20px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e74c3c;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ddd;
    color: black;
}


footer{
     float: right;
    width: 100vw;
    height: 7vh;
    background-color: #404040;
}
footer h5{
    color: white;

    margin: 19px 165px 4px 29px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
}

 .footer_nav a{
        float: left;
    display: block;
    color: black;
    padding: 12px 10px 14px 19px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;

}
.footer_nav  a:hover {
    background-color: #e74c3c;
    color: white;
}


