*{
  margin:0 auto;
}

img{
  border-radius: 1.7px;
}

h3{
font-family: 'Quicksand', sans-serif;
text-align: center;
font-weight: 300;
font-size: 17px;
color:black;
word-spacing: 4px;
}
h4{
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color:white;
}

p{


       font-size: 70px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.topnav {
    background-color: #ddd;
    overflow: hidden;
    padding-left: 38vw;
   font-family: 'Anton', sans-serif;
   font-weight: 300;

}

.topnav a{
 margin:0px 20px 0px 20px;
}

.title h1{
 font-family: 'ABeeZee', sans-serif;
text-align: center;
font-weight: 300;
font-size: 45px;
color:#34495e;
}
.title h3{
  font-family: 'Anton', sans-serif;
text-align: center;
font-weight: 300;
font-size: 20px;
}
.title img{
    width: 447px;
    height: 317px;
     margin-left: 33vw;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e74c3c;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ddd;
    color: black;
}

section.view1 .social-media {
  margin-left: 50px;
  margin-top: 35px;
  position: absolute;
  display: inline-block;

}

section.view1{
  width: 100vw;
  height: 75vh;
}
section.view1 #logo{
    width: 40vw;
    height: 75vh;
    padding-left: 60vw;


}
section.view2{
    background-color: #dddddd;
    width: 100vw;
    height: 145vh;
}

.pic1 img{
    margin-left: 25vw;
    margin-top: 3vw;
    border-radius: 7px;
    width: 612px;
    height: 257px;
}

.pic2 img{
    margin-left: 25vw;
    margin-top: 3vw;
    border-radius: 7px;
    width: 612px;
    height: 257px;
  }

.text_one {
    color: #34495e;
    width: 94%;
   white-space: normal;
    border: 1px
}

.text_one h3{
     white-space: normal;
    margin: 30px;
}

.text_two h3{

    width: 94%;
   white-space: normal;
    border: 1px
}

.text_two p{
     color: #34495e;
    width: 94%;
   white-space: normal;
    border: 1px
}




section.view3 {
    background-color: #dddddd;
    height: 6vh;
    width: 15vw;
    margin: 60px 0px 60px 42vw;
    border-radius: 2px;
    box-shadow: 5px 8px 19px lightslategrey;

}


.view_left{
 text-align: center;
}

.view_left h4{
  padding-left: 250px;

}

h3#text{
  color: white;
}


.view3 a{

    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    border-radius: 3px;


}
.view3 a:hover{
   border-radius: 5px;
    background-color: #e74c3c;
    color: white;

}

.view_right{
  float: right;
  width: 20%;
  margin-right:16.3%;

}

.view_right #commente{
  width: 50px;
  height: 120px;
  float: right;
}

footer{
       width: 100vw;
    height: 7vh;
    background-color: #404040;
}
footer h5{
    color: white;
    float: right;
    margin: 19px 165px 4px 29px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;
}

 .footer_nav a{
        float: left;
    display: block;
    color: black;
    padding: 12px 10px 14px 19px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Anton', sans-serif;
    font-weight: 300;

}
.footer_nav  a:hover {
    background-color: #e74c3c;
    color: white;
}


