<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="styles.css">
<!-- <link href="https://fonts.googleapis.com/css?family=Rajdhani|pen+Sans:400,300,300italic,400italic,700,700italic|Great+Vibes" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet"><script src="javascript.js"></script>

<link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">

  <title>CruzInc.</title>
</head>
<body>

<div class="container">

<section  class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
        <a href="#about">About</a>
          <a href="https://www.facebook.com/CruzPaintz?ref=br_rs"><i class="fa fa-facebook-square" style="font-size:20px;color:white;"></i></a>
    <a href="cruzpaintzinc@gmail.com"><i class="fa fa-google" style="font-size:20px;color:white;" id="left"></i></a>
</section>

<div class="title">
<br>
  <img src="original.jpg" alt="">
</div>


<section class="about">
  <img src="FullSizeRender.jpg" alt="">
    <h2>Douglas Cruz</h2>
     <p>CEO</p>
    <p>Slef motovated entrupenur. CEO of CruzINC. To open the eyes to a differnet but homie setting, to create a relaxing and motivatinal feel</p>

  </section>
<section class="about">
  <img src="IMG_0117.jpg" alt="">
  <h2>Tiana Pene</h2>
    <p>Human Resources</p>
     <p>To gain and keep our customers by showing promise to our services.
      To build a friedly and on going relation with all devoted and recents clients
     </p>
 </section>
<section class="about">
<img src="" alt="">
  <h2>Christopher Duran</h2>
      <p>Co-founder</p>
      <p>To reach out to local motivated and experienced painters that show great characteristics and knowledge in the field</p>
</section>

<footer>
  <div class="footer_nav">
    <a href="index.ejs">Home</a>
    <a href="Contact.ejs">Contact</a>
    <a href="#about">About</a>

    <a href="https://www.facebook.com/CruzPaintz?ref=br_rs"><i class="fa fa-facebook-square" style="font-size:22px;color:white;" id="left"></i></a>
    <a href="cruzpaintzinc@gmail.com"><i class="fa fa-google" style="font-size:22px;color:white;" id="left"></i></a>

     <h5 id="left">© 2017 Created by Iconic All rights reserved.</h5>
  </div>
</footer>

</div>

</body>
</html>
